@import "bootstrap";

$primary: #0f57ff;
body{
  background-color: #141b25;
  color:#fff;
}
.room-nav-link {
  background: #141b25;
  border-bottom: 2px solid #1b242f;
}
.room-list{
  overflow-y: auto;
  height: 73vh;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: $primary !important;
}
.chat {
  background: #141b25;
  height: 65vh;
  overflow-y: auto;
  .chat-message-container {
    padding: 5px;
  
    .avatar {
      margin: 5px;
    }
  
    .message-content {
      padding: 5px;
      border: 1px solid $primary;
      border-radius: 5px;
      background: $primary;
      color: $white;
    }
  
    & + .chat-message-container {
      margin-top: 10px;
    }
  }
}

.chat-input, .chat-input:focus {
  background:#0a0f1a;
  border: 0 none;
}

.border-grey{
  border: 2px solid #1b242f;
}
.top-border-grey{
  border-top: 2px solid #1b242f;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212934; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1b242f; 
}

.nopadding {
  padding: 0 !important;
}